.Vpn {
	height: 100%;
	width: 100%;
	position: relative;

	.options {
		max-height: 30vh;
		overflow-y: auto;

		.simple-options {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: auto;
		}

	}


	.option {
		display: flex;
	}

	.row {

		margin: 2.5rem 0;

		.MuiInputBase-formControl {
			margin-right: 2rem;
		}

		.switch {
			color: rgba(255, 255, 255, 0.7);
			margin-left: 0;
			margin-right: 1rem;
			margin-top: 0.75rem;
			text-align: left;

			> span.MuiFormControlLabel-label {
				width: 4rem;
			}
		}

		&.docker {
		}
	}

	.bottom {
		position: fixed;
		bottom: 2rem;
	}

}

