
.Encoder {
	margin: 1rem;

	.options {
		margin-top: 2rem;
		display: flex;

		#demo-customized-select-label {
			align-self: center;
			margin: 1rem 2rem 1rem 0.5rem;
		}
	}

	.processes {
		max-height: 40vh;
		overflow-y: auto;
		margin-left: -0.5rem;
	}

	.actions {
		margin-top: 2rem;
	}


}
