
.Encoder {
	margin: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	.header {

	}

	.options {
		display: flex;

		#demo-customized-select-label {
			align-self: center;
			margin: 1rem 2rem 1rem 0.5rem;
		}
	}

	.processes {
		margin: 0 1rem;
		display: flex;
		flex-direction: column;
		height: calc(100% - 10rem);

		.content {
			flex: 1 1 auto;
			overflow-y: auto;
			height: 0px; /* == min-height: 100px*/
		}
	}

	.actions {
		height: 4rem;
	}

	.context {
		position: absolute;
	}
}
