.Projects {
	height: 100%;
	width: 100%;
	position: relative;


	.row {

		margin: 3rem 0;

		//#name {
		//	width: 30%;
		//}
		//
		//#description {
		//	width: 70%;
		//}

		.MuiInputBase-formControl {
			margin-right: 2rem;
		}

		.switch {
			color: rgba(255, 255, 255, 0.7);
			margin-left: 0;
			margin-right: 1rem;
			margin-top: 0.75rem;
			text-align: left;

			> span.MuiFormControlLabel-label {
				width: 4rem;
			}
		}

		&.docker {
		}
	}

}

