.Vpn {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;

	> * {
		width: 30vw;
	}

	.item {
		.btns {
			display: flex;
			justify-content: space-evenly;
		}
	}

	.divider {
		margin: 1rem;
	}
}
