@import "../../variables";

.Frame {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;

	display: flex;
	flex-direction: column;
	grid-template-rows: $titlebarHeight 1fr;

	> .main {
		display: flex;
		width: 100vw;
		height: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
