.Module {

	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;

	.bar {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0.5rem 0;

		.backBtn {
			position: fixed;
		}

		.title {
			margin-left: auto;
			margin-right: auto;
		}

	}

	> *:not(.bar) {
		max-height: 82vh;
		overflow-y: hidden;
	}


}

