$marginTopBetweenComponent: 1.75rem;

$btnLeftMargin: 0.5rem;

.Renamer {
	height: 100%;

	.SelectFolder {
		.header {
			margin-bottom: 0 !important;
		}
	}

	.header {
		margin-bottom: 1.5rem;
	}

	margin: 1rem 0 0 1rem;

	.example {
		margin-left: 0.5rem;
	}


	.line {
		width: 80vw;
		margin-bottom: 0.25rem;
		margin-top: 0.25rem;
	}

	.classic {


		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 80%;

		margin: 0.5rem 0 0 $btnLeftMargin;

		.nums {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		button {
			margin-left: -$btnLeftMargin;
		}
	}

	.replace-char {
		margin-top: $marginTopBetweenComponent;
		display: flex;
		flex-direction: column;
		width: 90%;
		margin-left: 0.5rem;


		> div.actions {
			margin-left: $btnLeftMargin;
			margin-top: 1rem;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}


	}
}

