@import "src/renderer/variables";

.ResourceUtilization {
	display: flex;
	justify-content: space-evenly;
	-webkit-app-region: drag;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	padding: 4px 0;
	color: $headerColor !important;
	background-color: #0e0e0e !important;
	border-radius: 0 !important;
	height: $titlebarHeight / 1.5;


	.item {
		display: flex;
		justify-content: center;
		align-items: center;

		.label {
			margin-right: 1rem;
		}

		.value {
			min-width: 3rem;
			display: block;
		}
	}

}
