.Updater {


	>  .info {
		margin: 4rem;

		.version-title {
			margin-bottom: 0.5rem;
		}

		> div {

			opacity: 60%;

			.label {
				display: inline-block;
				width: 4rem;
			}
			padding-left: 2rem;
		}
	}

	position: relative;

	>  .main {
		position: relative;
		flex-direction: column;
		display: flex;
		justify-content: center;
		>  .progress {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 13rem;
			width: 100%;
			height: 90%;
		}

		>  .buttons {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			margin-left: 4rem;
			position: absolute;
			> * {
				margin-bottom: 2rem;
			}
		}

	}


	height: 100%;
}
