@use "../../variables" as *;

#Titlebar {
	-webkit-app-region: drag;
	min-height: $titlebarHeight;
	height: $titlebarHeight;
	flex-shrink: 0;
	overflow: hidden;

	button {
		-webkit-app-region: no-drag;
	}
}
