@import "src/renderer/variables";


.Titlebar {
	display: flex;
	justify-content: space-between;
	-webkit-app-region: drag;
	flex-direction: row;
	align-items: center;
	width: 100vw;

	background-color: #0e0e0e;

	height: $titlebarHeight;

	.title {
		justify-self: flex-start;
		margin-left: 0.5rem;
		color: $headerColor;
	}

	button {
		margin: 0;
		height: $titlebarHeight;
		padding: 0.1rem 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #bcbcbc;

		border-radius: 0;

		&.close:hover {
			background-color: #b70101;
		}


	}

	&:last-child {
		margin-right: 2rem;
	}


}
