.Updater {

	position: relative;
	height: 100%;

	.info {
		margin: 2rem 4rem 0;

		.version-title {
			margin-bottom: 0.5rem;
		}

		> div {
			margin-bottom: 2rem;

			opacity: 60%;

			padding-left: 2rem;


			.input {
				margin-top: 0.5rem;
				display: grid;
				grid-template-columns: 1fr 7fr;
				grid-template-rows: auto;

				.label {
					display: inline-block;
					width: 4rem;
				}

				.content {
					.MuiInput-underline {
						width: 70%;
					}

					.MuiInput-input {
						padding-top: 0;
					}
				}
			}

		}
	}


	.main {
		width: 70%;
		height: 100%;
	}

	.text {
		width: 30%;
		height: 100%;
	}

}
