@import "variables";
body {
	margin: 0;
	padding: 0;

	button, input, textarea {
		-webkit-app-region: no-drag;
	}

}

.root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

:export {
	background: $backgroundColor;
	primary: $primary;
	secondary: $secondary
}


*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #1a1a1a;
}

*::-webkit-scrollbar {
	width: 6px;
	background-color: $secondary;

}

*::-webkit-scrollbar-thumb {
	background-color: $secondary;
}
